# This is a basic workflow to help you get started with Actions

name: Test Send Email Blast

# Controls when the workflow will run
on:
    workflow_dispatch: # manual trigger
    push:
      branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  EMAIL_ID: ${{ vars.EMAIL_ID }}
  EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  send-notification:
    if: github.repository == 'anandvijayan/email-blast'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install tools
        run: make install-tools

      - name: Test Send the notification email
        run: make -e test
